npm install django
npm install solana==0.28
npm install solders
npm install djangorestframework
npm install djangorestframework-simplejwt
npm install django-cors-headers
npm install django-allauth
npm install requests
npm install @moonpay/moonpay-js